@use "abstracts/variables" as *;

@use "base/reset";
@use "base/global";
@use "base/utilities";

@use "layout/header";
@use "layout/navbar";
@use "layout/footer";

@use "components/button";
@use "components/card";
@use "components/form";
@use "components/modal";
@use "components/section-title";

// @use "pages/home";
@use "pages/logging";
@use "pages/shop";


h1 {
  color: white;
  background-color: $black;
}
body{
    background-color: red;
}
