@use "abstracts/variables" as *;
@use "base/reset" as *;
// @use "base/utilities";
@use "layout/header" as *;
@use "layout/services" as *;
// @use "layout/navbar";
// @use "layout/footer";
@use "base/global" as *;
@use "components/button" as *;
@use "components/card" as *;
@use "components/side-bar" as *;
// @use "components/form";
@use "components/modal";
@use "components/section-head";
// // @use "pages/home";
// @use "pages/logging";
@use "pagesstyle/shop" as *;
html {
    overflow-y:scroll
}
body {
  position: relative;
  background: $body-light;
  color: $body-dark;
  overflow-x: hidden;
  transition: $transition;
  .bg {
    background-color: $container-light;
    padding: $padding-2;
    border-radius: $border-radius;
  }
  &.dark {
    background: $body-dark;
    color: #fff;

    .bg {
      background: $container-dark;
      color: #fff;
    }
  }
}

.home {
  height: 450px;
  width: 100%;
  margin: 40px auto;
  .home-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;

    .category-links {
      max-width: 20%;
      width: 250px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      .category-links-head {
        transition: $transition;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 0 $padding-2;
        .category-title {
          font-size: 18px;
          font-weight: 500;
        }
      }
      .category-links-body {
        height: 100%;
        width: 100%;
        .category-list {
          display: flex;
          flex-direction: column;
          height: max-content;
          width: 100%;
          height: 0;
          opacity: 0;
          visibility: hidden;
          transition: $transition;
          &.show {
            height: max-content;
            opacity: 1;
            visibility: visible;
          }
          .category-item {
            width: 100%;
            font-size: 14px;
            font-weight: 400;
            padding: $padding-1 0;
            margin: $padding-1 0;
            transition: $transition;
            // background-color: $body-dark;
          }
        }
      }
    }
    .home-content {
      width: 80%;
      height: 450px;
      position: relative;

      .swiper {
        width: 100%;
        height: 100%;
        .swiper-wrapper {
          width: 100%;
          height: 100%;
          .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .swiper-pagination-bullet {
          background-color: $main-color;
          .active {
            // background-color: $main-color-sub;
            width: 20px !important;
            height: 10px !important;
          }
        }
      }
    }
  }
}
// star discount section
//
.discount-to-day {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 140px 0;
  .container {
    .section-body {
      height: max-content;
      margin: $padding-section 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .cards-products {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        height: 100%;
        width: 100%;
        gap: 30px;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        // -ms-overflow-style: none;
        // scrollbar-width: none;
      }
      .view-all-products {
        width: 250px;
        height: 50px;
        margin: 40px auto;
      }
    }
  }
}
