@use "../abstracts/variables" as *;
.card {
  height: 100%;
  flex: 0 0 250px;
  scroll-snap-align: start;
  border: 1px solid red;
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;
  &:hover .card-content .add-to-card{
    opacity: 1;
  }

  %position-absolute {
    position: absolute;
    border-radius: $border-radius;
  }
  .card-content {
    position: relative;
    height: 250px;
    .discount-card {
      @extend %position-absolute;
      width: 55px;
      height: 24px;
      background-color: $main-color;
      top: $padding-1;
      left: $padding-1;
      display: flex;
    justify-content: center;
    align-items: center;
    }
    .add-to-card {
      @extend %position-absolute;
      bottom: $padding-1;
      left: $padding-1;
      right: $padding-1;
      width: auto;
      font-weight: bold;
      opacity: 0;
    }
    .react-card {
      @extend %position-absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      top: $padding-1;
      right: $padding-1;
      width: 30px;
      height: 50px;
      background-color:rgb(189 189 189 / 50%);
      backdrop-filter: blur(2px);
    }
    .img-card {
      @extend %position-absolute;
      inset: 0;
      z-index: -1;
    }
  }
  .card-discription{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $padding-1;
    %fixed{
        width: 100%;
        height: 24px;
        padding: $padding-1 ;
        text-align: center;
        font-weight:bold ; 
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: $padding-3;
    }
    .title-card{
        @extend %fixed;
    }
    .price-card{
        @extend %fixed;
        .new-price{
            color: $main-color;
        }
        .old-price{
            text-decoration: line-through
        }
    }
    .stars{
        @extend %fixed;
    }
  }
}
