@use "../abstracts/variables" as *;

.container {
  width: 80%;
  margin: 0 auto;
}
.full-container {
  width: 100%;
  margin: 0 auto;
}
main {
  min-height: 100vh;
  width: 100vw;
  margin-top: 175px;
}
section {
  height: 100vh;
  width: 100vw;
}
@media (max-width: 576px) {
  .container {
    width: 95%;
  }
  main {
  margin-top: 135px;
}
}
@media (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
