@use "../abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: inherit;
}
button,
input,
select {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: $border-radius;
}
i {
  display: inline-block;
  font-size: 20px;
  &.active {
    color: $main-color;
  }
}
.line {
  height: 1px;
  width: 80%;
  background-color: $main-color;
  margin: 10px auto;
}
