* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
button,
input,
select {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: red;
}
i {
  display: inline-block;
  font-size: 20px;
}
