$black: #000000;
$white: #eee;
$main-color: #f150d3;
$main-color-sub: #f45ed9;
$text-color-black-1: #0b0b0b;
$text-color-black-2: #232324;
$text-color-white-1: #eee;
$text-color-grey: #d1d1d5;
// spacing
$padding-1: 4px;
$padding-2: 8px;
$padding-3: 16px;
$padding-4: 32px;

// transition
$transition: 0.3s ease-in-out;
// border radius
$border-radius: 4px;
