

$main-color: #f150d3;

$overlay:rgba(0, 0, 0, 0.784);
// spacing
$padding-1: 4px;
$padding-2: 8px;
$padding-3: 16px;
$padding-4: 32px;
$padding-section:40px;


// transition
$transition: 0.3s ease-in-out;
// border radius
$border-radius: 4px;
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.542);

$body-light: #ffffff;
$container-light: #c9c9c9;

$body-dark: #171717;
$container-dark: #2d2d2d;
