* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

button, input, select {
  border: none;
  outline: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100vw;
}
.header .top-header {
  width: 100%;
  height: 48px;
  background-color: #000000;
}
.header .top-header .top-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 48px;
  margin: auto;
  padding: 16px 32px;
  z-index: 1;
}
.header .top-header .top-header-content .summer-sale {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.header .top-header .top-header-content .ShopNow {
  color: #f150d3;
  font-size: 14px;
  text-decoration: underline;
  padding-left: 4px;
}
.header .top-header .top-header-content #select-language {
  color: rgb(255, 255, 255);
  padding: 4px;
  background-color: transparent;
}
.header .bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 38px;
  margin-top: 40px;
  margin-bottom: 16px;
  padding: 0 32px;
}
.header .bottom-header .logo {
  width: 120px;
}
.header .bottom-header .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #232324;
}
.header .bottom-header .navbar {
  width: -moz-max-content;
  width: max-content;
  display: flex;
}
.header .bottom-header .navbar .nav-list {
  display: flex;
  gap: 8px;
}
.header .bottom-header .navbar .nav-list li {
  height: 24px;
}
.header .bottom-header .navbar .nav-list li a {
  height: 100%;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  color: #232324;
  padding: 4px 8px;
}
.header .bottom-header .navbar .nav-list li a:hover {
  color: #f150d3;
}
.header .bottom-header .navbar .nav-list li a.active {
  color: #f150d3;
}
.header .bottom-header .actions-navbar {
  display: flex;
  gap: 8px;
}
.header .bottom-header .actions-navbar .toggle-menu {
  display: none;
  background-color: transparent;
  border: none;
}
.header .bottom-header .actions-navbar .toggle-menu i {
  font-size: 20px;
  color: #232324;
}
.header .bottom-header .actions-navbar .button, .header .bottom-header .actions-navbar .theme-switcher,
.header .bottom-header .actions-navbar .heart,
.header .bottom-header .actions-navbar .cart, .header .bottom-header .actions-navbar .input-field .btn-search {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .bottom-header .actions-navbar .input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  position: relative;
  gap: 8px;
}
.header .bottom-header .actions-navbar .input-field .inputSearch {
  height: 32px;
  width: 230px;
  background-color: #d1d1d5;
  border-radius: 4px;
}
.header .bottom-header .actions-navbar .input-field .inputSearch:focus {
  padding: 0 4px;
}
.header .bottom-header .actions-navbar .input-field .btn-search i {
  font-size: 20px;
}
.header .bottom-header .actions-navbar .theme-switcher,
.header .bottom-header .actions-navbar .heart,
.header .bottom-header .actions-navbar .cart {
  position: relative;
}
.header .bottom-header .actions-navbar .theme-switcher .count-cart,
.header .bottom-header .actions-navbar .theme-switcher .count-heart,
.header .bottom-header .actions-navbar .heart .count-cart,
.header .bottom-header .actions-navbar .heart .count-heart,
.header .bottom-header .actions-navbar .cart .count-cart,
.header .bottom-header .actions-navbar .cart .count-heart {
  position: absolute;
  top: -2px;
  right: -2px;
  color: black;
  font-size: 14px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f150d3;
}
.header .bottom-header .actions-navbar .theme-switcher,
.header .bottom-header .actions-navbar .heart i,
.header .bottom-header .actions-navbar .cart i {
  font-size: 20px;
}
.header .bottom-header .scrool-width {
  width: 100%;
  height: 2px;
  background-color: #f150d3;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.full-container {
  width: 100%;
  margin: 0 auto;
}

h1 {
  background-color: rgb(166, 214, 22);
}

body {
  color: #000000;
  height: 120dvh;
}
body.black {
  background-color: #000000;
}/*# sourceMappingURL=main.css.map */