* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: inherit;
}

button,
input,
select {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

input {
  height: 32px;
  width: 150px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

i {
  display: inline-block;
  font-size: 20px;
}
i.active {
  color: #f150d3;
}

.line {
  height: 1px;
  width: 80%;
  background-color: #f150d3;
  margin: 10px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
.header .top-header {
  width: 100%;
  height: 48px;
  background-color: #171717;
}
.header .top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: auto;
  padding: 16px 0;
  z-index: 1;
}
.header .top-header .container .summer-sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin: 15px 0;
}
.header .top-header .container .summer-sale .summer-sale-details {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 15px 0;
}
.header .top-header .container .summer-sale .ShopNow {
  color: #f150d3;
  font-size: 14px;
  text-decoration: underline;
  padding-left: 8px;
}
.header .top-header .container #select-language {
  color: rgb(255, 255, 255);
  padding: 4px;
  background-color: transparent;
}
.header .bottom-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: flex-end;
  padding-bottom: 3px;
  background-color: transparent;
  backdrop-filter: blur(8px);
}
.header .bottom-header .logo {
  width: 120px;
}
.header .bottom-header .logo a {
  font-size: 26px;
  font-weight: bolder;
  color: #f150d3;
  letter-spacing: 4px;
  font-family: "Intel One Mono", monospace;
}
.header .bottom-header .navbar {
  width: -moz-max-content;
  width: max-content;
  display: flex;
}
.header .bottom-header .navbar .nav-list {
  display: flex;
  gap: 8px;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.header .bottom-header .navbar .nav-list li {
  height: 24px;
}
.header .bottom-header .navbar .nav-list li a {
  height: 100%;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}
.header .bottom-header .navbar .nav-list li a:hover {
  color: #f150d3;
}
.header .bottom-header .navbar .nav-list li a.active {
  color: #f150d3;
  border-bottom: 2px solid #f150d3;
}
.header .bottom-header .actions-navbar {
  display: flex;
  gap: 8px;
}
.header .bottom-header .actions-navbar .toggle-menu {
  display: none;
  background-color: transparent;
}
.header .bottom-header .actions-navbar .toggle-menu i {
  font-size: 20px;
}
.header .bottom-header .actions-navbar .button, .header .bottom-header .actions-navbar .theme-switcher,
.header .bottom-header .actions-navbar .heart,
.header .bottom-header .actions-navbar .shopping-cart, .header .bottom-header .actions-navbar .input-field .btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .bottom-header .actions-navbar .input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  gap: 8px;
}
.header .bottom-header .actions-navbar .input-field .inputSearch {
  position: absolute;
  top: 104%;
  right: -50%;
  transform: translate(50%, 0);
  height: 32px;
  width: 150px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.header .bottom-header .actions-navbar .input-field .inputSearch.show {
  right: 50%;
}
.header .bottom-header .actions-navbar .input-field .inputSearch:focus {
  padding: 0 4px;
}
.header .bottom-header .actions-navbar .input-field .btn-search i {
  font-size: 20px;
}
.header .bottom-header .actions-navbar .theme-switcher,
.header .bottom-header .actions-navbar .heart,
.header .bottom-header .actions-navbar .shopping-cart {
  position: relative;
}
.header .bottom-header .actions-navbar .theme-switcher .count-shopping-cart,
.header .bottom-header .actions-navbar .theme-switcher .count-heart,
.header .bottom-header .actions-navbar .heart .count-shopping-cart,
.header .bottom-header .actions-navbar .heart .count-heart,
.header .bottom-header .actions-navbar .shopping-cart .count-shopping-cart,
.header .bottom-header .actions-navbar .shopping-cart .count-heart {
  position: absolute;
  top: -2px;
  right: -2px;
  color: black;
  font-size: 14px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f150d3;
}
.header .bottom-header .actions-navbar .theme-switcher,
.header .bottom-header .actions-navbar .heart i,
.header .bottom-header .actions-navbar .shopping-cart i {
  font-size: 20px;
}
.header .scrool-width {
  width: 100%;
  height: 2px;
  background-color: #f150d3;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
}

@media (max-width: 576px) {
  .header .top-header {
    height: 40px;
  }
  .header .top-header .container .summer-sale-details {
    display: none;
  }
  .header .container .actions-navbar {
    gap: 4px;
  }
  .header .container .actions-navbar .toggle-menu {
    display: flex;
  }
  .header .container .actions-navbar .toggle-menu i {
    font-size: 14px;
  }
  .header .container .actions-navbar .input-field .btn-search i {
    font-size: 14px;
  }
  .header .container .actions-navbar .input-field .inputSearch:focus {
    padding: 0 4px;
  }
  .header .container .actions-navbar .theme-switcher i,
  .header .container .actions-navbar .heart i,
  .header .container .actions-navbar .shopping-cart i {
    font-size: 14px;
  }
  .header .container .bottom-header {
    height: 45px;
  }
  .header .container .bottom-header .navbar .nav-list {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -220px;
    left: 0;
    width: 100%;
  }
  .header .container .bottom-header .navbar .nav-list.show {
    top: 98px;
    padding: 150px 0;
  }
  .header .container .bottom-header .navbar .nav-list li a {
    font-size: 14px;
    padding: 4px 8px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .header .top-header .container .summer-sale-details {
    display: none;
  }
  .header .container .actions-navbar {
    gap: 4px;
  }
  .header .container .actions-navbar .toggle-menu {
    display: flex;
  }
  .header .container .actions-navbar .input-field .inputSearch:focus {
    padding: 0 4px;
  }
  .header .container .bottom-header .navbar .nav-list {
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    transform: translateY(-200%);
    padding: 150px;
  }
  .header .container .bottom-header .navbar .nav-list.show {
    transform: translateY(8%);
  }
  .header .container .bottom-header .navbar .nav-list .items {
    margin: 2px;
  }
  .header .container .bottom-header .navbar .nav-list .items .link {
    font-size: 14px;
    padding: 4px 16px;
  }
}
.section-services {
  min-height: calc(100vh - 140px);
}
.section-services .services-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px 10px;
}
.section-services .services-content .service {
  width: 30%;
  min-width: 250px;
  height: 320px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.542);
}
.section-services .services-content .service .icones {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  border: 20px solid #f150d3;
  margin: 40px 0;
}
.section-services .services-content .service .icones:hover {
  border: 10px solid #f150d3;
}
.section-services .services-content .service p {
  margin: 40px auto 8px;
}
.section-services .services-content .service .services-title {
  font-weight: 700;
  letter-spacing: 1px;
}

.footer {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.top-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.top-footer .links-footer {
  width: 100%;
  display: flex;
  gap: 10px;
}
.top-footer .form-footer {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.542);
  border-radius: 4px;
}
.top-footer .form-footer h3 {
  margin: 16px auto;
}
.top-footer .form-footer .newsletter-form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.top-footer .form-footer .newsletter-form #newsletter-form-finput {
  width: 100%;
  padding: 0 8px;
}

.footer-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  padding: 8px;
}
.footer-section h3 {
  margin: 16px auto;
}
.footer-section .social-icons {
  display: flex;
  gap: 10px;
}
.footer-section .social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #f150d3;
  border-radius: 4px;
}
.footer-section .list {
  display: flex;
  gap: 4px;
}
.footer-section .list .items-links {
  background-color: #f150d3;
  padding: 4px 8px;
  border-radius: 4px;
  height: 32px;
}

.bottom-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .top-footer .links-footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 969px) {
  .top-footer {
    flex-wrap: wrap;
  }
}
.container {
  width: 80%;
  margin: 0 auto;
}

.full-container {
  width: 100%;
  margin: 0 auto;
}

main {
  min-height: 100vh;
  width: 100vw;
  margin-top: 175px;
}

footer {
  height: 400px;
}

strong {
  font-weight: bold;
  color: #f150d3;
}

section {
  min-height: 100vh;
  width: 100vw;
}

@media (max-width: 576px) {
  .container {
    width: 95%;
  }
  main {
    margin-top: 135px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
button {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}
button:hover {
  background-color: #f150d3;
  letter-spacing: 0.2px;
}
button.hovered {
  background-color: #f150d3;
}
button.btn-eye, button.btn-heart {
  background-color: transparent;
}
button.view-all-products {
  width: 250px;
  height: 50px;
  margin: 60px 0 140px 0;
}
button.check-out {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 8px;
}
button.btn-delete:hover {
  background-color: transparent;
}
button.btn-delete:hover i {
  color: red;
}

.btn-buy {
  width: 80px;
  padding: 4px 8px;
}

.btn-submit[type=submit] {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.542);
  width: -moz-max-content;
  width: max-content;
  padding: 4px 8px;
}

.card {
  height: 100%;
  flex: 0 0 250px;
  scroll-snap-align: start;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin: 16px 4px;
  overflow: hidden;
  cursor: pointer;
}
.card:hover .card-content .add-to-card {
  opacity: 1;
}
.card .card-content .img-card, .card .card-content .react-card, .card .card-content .add-to-card, .card .card-content .discount-card {
  position: absolute;
  border-radius: 4px;
}
.card .card-content .react-card, .card .card-content .add-to-card, .card .card-content .discount-card {
  z-index: 11;
}
.card .card-content {
  position: relative;
  height: 250px;
}
.card .card-content .discount-card {
  width: 55px;
  height: 24px;
  background-color: #f150d3;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.card .card-content .add-to-card {
  bottom: 4px;
  left: 4px;
  right: 4px;
  width: auto;
  font-weight: bold;
  opacity: 0;
}
.card .card-content .react-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 70px;
  background-color: rgba(189, 189, 189, 0.5);
  backdrop-filter: blur(2px);
}
.card .card-content .img-card {
  inset: 0;
}
.card .card-discription {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.card .card-discription .stars, .card .card-discription .price-card, .card .card-discription .title-card {
  width: 100%;
  height: 24px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.card .card-discription .price-card .new-price {
  color: #f150d3;
}
.card .card-discription .price-card .old-price {
  text-decoration: line-through;
}
.side-bar {
  position: fixed;
  right: 0;
  top: 142px;
  bottom: 0;
  min-width: 200px;
  width: 400px;
  height: 100vh;
  z-index: 1211;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.side-bar.show {
  transform: translateX(0);
}
.side-bar .wish-list {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 5px;
}
.side-bar .wish-list span {
  display: block;
  height: 40px;
  width: 20px;
  border-radius: 4px;
  background-color: #f150d3;
}
.side-bar .wish-list .wish-title {
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  font-weight: bold;
}
.side-bar .wish-list #wish-count-items {
  height: 32px;
  width: 32px;
  padding: 0 4px;
}
.side-bar .added-list {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  gap: 4px;
  height: 100%;
}
.side-bar .added-list .added-list-title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.side-bar .added-list .added-list-title span {
  display: block;
  height: 40px;
  width: 20px;
  border-radius: 4px;
  background-color: #f150d3;
}
.side-bar .added-list .added-list-title p {
  font-size: 20px;
  font-weight: bold;
}
.side-bar .added-list .list-products {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.side-bar .added-list .list-products .items {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.side-bar .added-list .list-products .items .item-details {
  gap: 16px;
  width: 100%;
  display: flex;
  align-items: center;
}
.side-bar .added-list .list-products .items .controls {
  display: flex;
  align-items: center;
  gap: 4px;
}
.side-bar .added-list .list-products .items .controls .quantity {
  display: flex;
  align-items: center;
  gap: 4px;
}
.side-bar .added-list .list-products .items .controls .quantity input {
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
  padding-left: 4px;
  border-radius: 4px;
}
.side-bar .added-list .total {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.side-bar .added-list .total span {
  width: -moz-max-content;
  width: max-content;
  height: 30px;
  line-height: 30px;
  border: 1px solid red;
  padding: 0 4px;
  border-radius: 4px;
}

.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1122;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.modal.show {
  opacity: 1;
  visibility: visible;
}
.modal .modal-content {
  background-color: #ffffff;
  border-radius: 4px;
  width: 90%;
  max-width: 800px;
  height: 500px;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  padding: 10px;
}
.modal .modal-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  position: relative;
}
.modal .modal-card .btn-close-modal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f150d3;
  border-radius: 4px;
}
.modal .modal-card .modal-badge {
  width: 60%;
  height: 100%;
}
.modal .modal-card .modal-badge .modal-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.modal .modal-card .modal-badge .modal-image img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.modal .modal-card .modal-badge .modal-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #f150d3;
  border-radius: 4px;
  padding: 4px 8px;
}
.modal .modal-card .modal-body {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal .modal-card .modal-body .modal-inventory,
.modal .modal-card .modal-body .modal-rating,
.modal .modal-card .modal-body .modal-pricing,
.modal .modal-card .modal-body .modal-category {
  display: flex;
  gap: 20px;
}
.modal .modal-card .modal-body span {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
}
.modal .modal-card .modal-body .modal-description {
  text-transform: capitalize;
  letter-spacing: 1px;
}
.modal .modal-card .modal-body .modal-description .description {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 800;
}
.modal .modal-card .modal-body .modal-pricing .price-new {
  font-size: 1.5rem;
  font-weight: 800;
  color: #f150d3;
}
.modal .modal-card .modal-body .modal-pricing .price-old {
  font-weight: 800;
  text-decoration: line-through;
}

.section-head {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.section-head .section-head-title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.section-head .section-head-title span {
  display: block;
  height: 40px;
  width: 20px;
  border-radius: 4px;
  background-color: #f150d3;
}
.section-head .section-head-title p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.section-head .section-head-content {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-head .section-head-content .counter-discount {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.section-head .section-head-content .counter-discount .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: -moz-max-content;
  width: max-content;
  padding: 0 4px;
  justify-content: space-between;
}
.section-head .section-head-content .counter-discount .counter .body-counter {
  font-weight: bold;
  font-size: 25px;
}
.section-head .section-head-content .navigation-section {
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
}
.section-head .section-head-content .navigation-section i {
  font-size: 30px;
}

h1 {
  background-color: rgb(166, 214, 22);
}

html {
  overflow-y: scroll;
}

body {
  position: relative;
  background: #ffffff;
  color: #171717;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
  height: -moz-max-content;
  height: max-content;
}
body .bg {
  background-color: #c9c9c9;
  padding: 8px;
  border-radius: 4px;
}
body.dark {
  background: #171717;
  color: #fff;
}
body.dark .bg {
  background: #2d2d2d;
  color: #fff;
}

.home {
  height: 450px;
  width: 100%;
  margin: 40px auto;
}
.home .home-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
}
.home .home-container .category-links {
  max-width: 20%;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.home .home-container .category-links .category-links-head {
  transition: 0.3s ease-in-out;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .home-container .category-links .category-links-head .category-title {
  font-size: 18px;
  font-weight: 500;
}
.home .home-container .category-links .category-links-body {
  height: 100%;
  width: 100%;
}
.home .home-container .category-links .category-links-body .category-list {
  display: flex;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.home .home-container .category-links .category-links-body .category-list.show {
  height: -moz-max-content;
  height: max-content;
  opacity: 1;
  visibility: visible;
}
.home .home-container .category-links .category-links-body .category-list .category-item {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 0;
  margin: 4px 0;
  transition: 0.3s ease-in-out;
}
.home .home-container .home-content {
  width: 80%;
  height: 450px;
  position: relative;
}
.home .home-container .home-content .swiper {
  width: 100%;
  height: 100%;
}
.home .home-container .home-content .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.home .home-container .home-content .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-container .home-content .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .home-container .home-content .swiper .swiper-pagination-bullet {
  background-color: #f150d3;
}
.home .home-container .home-content .swiper .swiper-pagination-bullet .active {
  width: 20px !important;
  height: 10px !important;
}

.discount-to-day {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 140px 0;
}
.discount-to-day .container .section-body {
  height: -moz-max-content;
  height: max-content;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.discount-to-day .container .section-body .cards-products {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 100%;
  width: 100%;
  gap: 30px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}
.discount-to-day .container .section-body .view-all-products {
  width: 250px;
  height: 50px;
  margin: 40px auto;
}/*# sourceMappingURL=main.css.map */